body{
     background-color: #fee7c1;

    font-family: Arial;

    color: rgb(0, 0, 0);

    display: flex;

    justify-content: center;

    margin-top: 50px;
}
.Container {

    width: 500px;

    padding: 30px;

    border-radius: 10px;

    background-color: #31568b;

    box-sizing: border-box;

    overflow: hidden;
}
input,
select,
button {

    width: 100%;

    padding: 12px;

    margin-top: 10px;

    border-radius: 6px;

    border: none;
}
button{
   
     background-color: aqua;

    color: black;

    cursor: pointer;
}
#output {

    margin-top: 20px;

    white-space: pre-wrap;

    background-color: #ffffff;

    border: 2px solid #000;

    padding: 20px;

    border-radius: 8px;

    min-height: 50px;

    max-height: 350px;

    color: #333;

    box-sizing: border-box;

    overflow-y: auto;

    font-size: 13px;

    line-height: 1.4;
}